<div class="container">
  <h3>Registration form for donor</h3>
  <form [formGroup]="registerForm" (ngSubmit)="sendDonor()">
    <div class="form-group">
      <div class="form-control">
        <label for="username">Username</label>
        <br>
        <input type="username" formControlName="username" placeholder=" Username">
        <span *ngIf="(username.touched ||username.dirty) && username.invalid && username.errors.required">
          Username is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="name">Name</label>
        <br>
        <input type="name" formControlName="name" placeholder=" Name">
        <span *ngIf="(name.touched ||name.dirty) && name.invalid && name.errors.required">
          Name is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="email">Email</label>
        <br>
        <input type="email" formControlName="email" placeholder="Email ID">
        <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.invalidEmail">
          Value has to be a valid email address.
        </span>

        <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
          Email is required.
        </span>

      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="phone">Phone</label>
        <br>
        <input type="phone" formControlName="phone" placeholder="Phone">
        <span *ngIf="(phone.touched ||phone.dirty) && phone.invalid && phone.errors.required">
          Phone no is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="gender">Gender</label>
        <br>
        <input type="gender" formControlName="gender" placeholder="Gender">
        <span *ngIf="(gender.touched ||gender.dirty) && gender.invalid && gender.errors.required">
          Gender is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="address">Address</label>
        <br>
        <input type="address" formControlName="address" placeholder="Gender">
        <span *ngIf="(address.touched ||address.dirty) && address.invalid && address.errors.required">
          Address is required.
        </span>
      </div>
      <br>
      <br>
      <button [disabled]="!registerForm.valid" data-toggle="modal" data-target="#myModal">Submit</button>
    </div>
  </form>
</div>
  
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Thank You for registering</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>