<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Track your Donee</h4>
			<ul class="timeline">
				<li>
					<a href="#">radhika</a>
					<a href="#" class="float-right">2019-03-02 T11:46:22.245Z</a>
					<p>DONOR <br> To:uzma_manager, siddhita<br> Amount: 2500</p>
				</li>
				<li>
					<a href="#">uzma_manager</a>
					<a href="#" class="float-right">2019-03-02 T11:47:07.254Z</a>
					<p>MANAGER <br> From:radhika  <br> To:siddhita <br> Amount: 2500</p>
				</li>
				<li>
					<a href="#">siddhita</a>
					<a href="#" class="float-right">2019-03-02 T11:51:31.358Z</a>
					<p>DONEE <br> From:radhika, uzma_manager <br> Amount: 2500</p>
				</li>
			</ul>
		</div>
	</div>
</div>

