<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Latest News</h4>
			<ul class="timeline">
				<li>
					<a target="_blank" href="https://www.totoprayogo.com/#">Sana is mad</a>
					<a href="#" class="float-right">21 March, 2014</a>
					<p>DONOR <br> To:</p>
				</li>
				<li>
					<a href="#">Sana has been sent to mental hospital</a>
					<a href="#" class="float-right">4 March, 2014</a>
					<p>MANAGER <br> From: <br> To: </p>
				</li>
				<li>
					<a href="#">Sana needs help</a>
					<a href="#" class="float-right">1 April, 2014</a>
					<p>DONEE <br> From: </p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>