
<div class="image-aboutus-banner" >
  <div class="container">
   <div class="row">
       <div class="col-md-24 ">
        <h1 class="lg-text">ABOUT US</h1>
        <h5>WE AS A COMMUNITY ARE TRYING TO CHANGE THE WAY THE WORLD TACKLES POVERTY.<br>HELP US IN REDUCING THE POVERTY OF THE WORLD </h5>
      </div>
   </div>
</div>
</div>

<div class="card-deck">
    <div class="card">
            <div class="card border-primary ">
      <img src="../../assets/vision.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title text-primary">Our Vision</h2>
        <h5 class="card-text">Our vision is to be the primary support and platform for a civil society represented by a global community of informed, empowered and committed NGO leading to a better world, a world of economic and social justice.Our vision is a world based on dignity, where every human being has the same opportunity.</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 min ago</small>
      </div></div>

    </div>
    <div class="card">
            <div class="card border-danger ">
      <img src="../../assets/mission.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title text-danger">Our Mission</h2>
        <h5 class="card-text">Our mission is to create, find and support programs that directly improve the health and well-being of children, women and their families, also motivating the children to educate.    To empower individuals, families, communities and society to live with dignity not dependence. </h5>
      </div> 
      <div class="card-footer">
        <small class="text-muted ">Last updated 3 mins ago</small>
      </div></div>
    </div>
  </div>


<section id="what-we-do">
  <div class="container-fluid">
    <h2 class="section-title mb-2 h1">What we do</h2>
    <h4 class="text-center text-muted h4"><br>“IF YOU HAVE THE POWER TO MAKE SOMEONE HAPPY, DO IT. <br> THE WORLD NEEDS MORE OF THAT. ”</h4>
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-block block-3">
                <h3 class="card-title">Education is a gift for life</h3>
                <p class="card-text">We help children unlock their potential and realize their dreams. We believe that every child is extraordinary and can scale great heights if provided with the right learning opportunities. <br> <br> </p>
            <!-- <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-5">
            <h3 class="card-title">Put the "HER" in HERO</h3>
            <p class="card-text">How different would this world be if the next generation of girls learned earlier in life the truth about who they are? We encourage women/girls to take a lead in her life, widening the gap between girls and their true identities. </p>
            <!-- <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
       <div class="card" >
          <div class="card-block block-4">
           <h3 class="card-title">Health is Wealth</h3>
           <p class="card-text">We promote policies and technical capacities in low-resourced health systems, develops international standards for the manufacturing and regulation of health products and cost-effectively..</p>
            <!-- <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">    
            <div class="card-block block-6">
                <h3 class="card-title">To a brighter future</h3>
                <p class="card-text">Education provides a better life, because it empowers an individual to earn a livelihood and increase awareness on a range of issues. <br> <br></p>
                <!-- <p class="card-text">For all those students who are passionate to learn, Charity Ngo donates money for the education of the students who are not financially stable moreover the fees are provided based on the merit of the student.</p>    
           <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-2">
            <h3 class="card-title">Strive for Equality</h3>
            <p class="card-text">We aim to ensure that every woman and girl is strong, safe, powerful, and heard. We provide fund for women for gender equality, standing up for the human rights of women and girls.</p>
            <!-- <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-1">
            <h3 class="card-title">Healthy Habits</h3>
            <p class="card-text">We aim to change the focus on health as an asset, rather than ill health as a burden, and to promote policies and encourage local action that improves opportunities for a healthy life.</p>
            <!-- <a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<!-- 
<div class="aa-example text-center">
  <img src="../../assets/images/contact.gif" class="img-fluid" data-toggle="modal" data-target="#myModal" alt="What we provide? ">         
  </div> -->
  <h2 class="section-title mb-2 h1">Connect with us by: <br><br> </h2>
<div class="rr">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br>
      <div class="container">
        <div class="box">
          <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class='details'><h3>India</h3></div>
        </div>
        
        <div class="box">
          <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <div class='details'><h3>+91 7778889999</h3></div>
        </div>
        
        <div class="box">
          <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class='details'><h3>hexception@gmail.com</h3></div>
        </div>
      </div>
    

                      
                            
                          