<div class="bgimg">

<div class="container">
  <h3>Donation form</h3>
  <form [formGroup]="donateForm" (ngSubmit)="sendTrans()">
    <div class="form-group">
      <div class="form-control">
        <label for="donorAcc">Donor Account</label>
        <br>
        <input type="donorAcc" formControlName="donorAcc" placeholder="Donor Account">
        <span *ngIf="(donorAcc.touched ||donateForm.dirty) && donorAcc.invalid && donorAcc.errors.required">
          Donor account no is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="managerAcc">Manager Account</label>
        <br>
        <input type="managerAcc" formControlName="managerAcc" placeholder="Manager Account">
        <span *ngIf="(managerAcc.dirty || managerAcc.touched) && managerAcc.invalid && managerAcc.errors.required">
          Manager account is required.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="amount">Amount</label>
        <br>
        <input type="amount" formControlName="amount" placeholder="amount">
        <span *ngIf="(amount.touched ||amount.dirty) && amount.invalid && amount.errors.required">
          Amount is required.
        </span>
        <span *ngIf="(amount.touched ||amount.dirty) && amount.invalid && amount.errors.invalidNumber">
          Amount is invalid.
        </span>
      </div>
      <br>
      <br>
      <div class="form-control">
        <label for="token">Token</label>
        <br>
        <!-- <button (click)="randomInt(1,100)" >generate no</button> -->
        <input type="token" formControlName="token" placeholder="Token" > <!--[ngModel]="randNum"-->
        <!-- <span *ngIf="(token.dirty || token.touched) && token.invalid && token.errors.required">
          Token is required.
        </span> -->

      </div>
      <br>
      <br>
      <br>
      <div class="form-control">
        <label for="manager">Manager Name</label>
        <br>
        <input type="manager" formControlName="manager" placeholder="Manager Name">
        <span *ngIf="(manager.dirty || manager.touched) && manager.invalid && manager.errors.required">
            Manager name is required.
        </span>

      </div>
      <br>
      <br>
      <button [disabled]="!donateForm.valid" data-toggle="modal" data-target="#myModal">Submit</button>
      <!-- <button (click)="downloadPDF()">Download PDF </button> -->
    </div>
  </form>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Thank You for your donation</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>