
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<div class="container">
	<div class="row">
		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle">
                <img src="assets/m3.png" class="media-object" alt="Sample Image" style="width:100px;height:100px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Do more beautiful stuff</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle">
                <img src="assets/m1.jpeg" class="media-object" alt="Sample Image" style="width:100px;height:100px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Make your media object shine</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
	</div>
	<div class="row">
		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle">
                <img src="assets/w1.jpg" class="media-object" alt="Sample Image" style="width:100px;height:100px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Simple line icons are used</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle">
                <img src="assets/s4.jpg" class="media-object" alt="Sample Image" style="width:100px;height:100px;">
              
            </a>
            <div class="media-body">
              <h4 class="media-heading">Make it simple and clean</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
	</div>
</div>