
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="box"	style= "top: 50%">
	<i class="fa fa-quote-left fa2" aria-hidden="true"></i>
	<div class="text">
		<i class="fa fa-quote-right fa1" aria-hidden="true"></i>			
		<div>
			<h1>Prakash Prajapati </h1>
			<p>Excepteur sint occaecat cupidatat proident, 
			sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>
</div>

<div class="box"	style= "top:120%" >
	<i class="fa fa-quote-left fa2" aria-hidden="true"></i>
	<div class="text">
		<i class="fa fa-quote-right fa1" aria-hidden="true"></i>			
		<div>
			<h1>Prakash Prajapati </h1>
			<p>Excepteur sint occaecat cupidatat proident, 
			sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>
</div>

<div class="box"	style= "top:190%" >
	<i class="fa fa-quote-left fa2" aria-hidden="true"></i>
	<div class="text">
		<i class="fa fa-quote-right fa1" aria-hidden="true"></i>			
		<div>
			<h1>Prakash Prajapati </h1>
			<p>Excepteur sint occaecat cupidatat proident, 
			sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>
</div>